.Informacion, .entrada_texto{
    
    font-family: fantasy;        
}
table > tbody tr td{
  font-family: fantasy;    
}

#imagenita , .Cconsulta{
text-align: center;
}

.centrado{
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.imaicono {
	width: 75px;
}
.resaltar05{
	font-size: 100%;
	color: green !important;;
}
.resaltar{
	font-size: 250%;
	color: green !important;;
}
.resaltar2{
	font-size: 150%;
	color: green !important;;
}
